.tickets {
    display: flex;
    flex-direction: column;
    background-color: #CCE3DE;
}

.ticket {
    background-color: #1b4332;
    border: 2px groove #a5c3b2;
    padding: 0.2rem;
    margin: 0.9rem 3.6rem ;
   
    
    width: 350px;
    border-radius: 10px;
    color:#95D5B2
    
}

.title {
    font-size: 39px;
    margin-left: 9rem;
}

/* .top {
    background-color: #CCE3DE;
} */

.ticket__delete {
    margin-left: auto;
    background-color: #CCE3DE;
}

.ticket__finish {
    margin-left: auto;
}

.ticket__footer {
    display: flex;
    padding: 1rem 0 0 0 ;
    border-top: 1px dashed darkmagenta;
    margin: 1rem 0 0 0;
}

.ticket__header {
    font-size: large;
    padding: 0 0 1rem 0;
}

.send_prayer {
    border-color: chartreuse;
    border-width: 1rem;
    flex-direction: row;
}

.pray_bitch {
    background-color: #1B4332;
    padding: 1.3rem;
    margin: 1rem;
    flex-direction: row;
    justify-content: center;
    color: #B7E4C7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}