.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    background-color: black;
    padding: 1.4rem;
    border: .4rem;
    border-color: #202020;
    border-style: double;
    color: whitesmoke;
    margin: 0;
    margin-left: -5%;
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link:visited {
    color:cornsilk;

}

