
.todo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 2%;
    border-color: #c6920eb7;
    border-width: .2rem;
    border-style:groove;
    width: 50rem;
    height: 25rem;
    margin: 0 auto;
    overflow:scroll;
    padding-bottom: 50;
    border: inset;
    opacity: 75%;
    color: green
}
.penis {
    border-color: fuchsia;
}
.title {
    font-size: 50px;
    margin-left: 25rem;
    margin: auto;
    font-family: fantasy;
    font-weight: 300;
    color: black;
    z-index: 3;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: goldenrod;
}

.todo__header {
    font-size: large;
    padding: 0;
    background-color: crimson;
}

.link{
    color: antiquewhite;
}

.bank {
    background-color: #fffef2;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align:right;
    justify-content: flex-end;
    flex: content;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 9999;
  }

  .todo {
    background-color: #202020;
    border: 2px inset #a5c3b2;
    padding: 2rem;
    /* margin: 0.9rem 3.6rem ; */
    color: whitesmoke;
    width: 500px;
    border-radius: 10px;
    font-size: large;
    opacity: 100%;
    

}

.todo:visited {
    color:pink;
    font-size: xx-large;
    text-decoration: dashed;
} 



.todo__delete {
    margin-left: auto;
    background-color: #252525;
    color: whitesmoke;
}

.todo__finish {
    margin-left: auto;
    background-color: #252525;
    color: whitesmoke;
}

.todo__footer {
    display: flex;
    padding: 1rem 0 0 0 ;
    border-top: 1px dashed #252525;
    margin: 1rem 0 0 0;
}
.todo_top{
    background-color: gray;
}

.todo__form {
    background-color: black;
}
